---
# tasks file for repo-check
- name: Check for uncommitted changes
  command: git status --porcelain
  register: uncommitted
  delegate_to: localhost
- name: Prompt if should continue
  pause:
    prompt: |
     There are uncommited changes that will not be apart of the deploy.
     Continue?
  register: uncommitted_choice
  when: uncommitted.stdout != ""
- name: Fetch latest
  command: git fetch
  changed_when: false
  delegate_to: localhost
- name: Determine if should leave early
  block:
    - name: Set skip.
      set_fact:
        skip_to_exit: true
    - name: Exiting
      meta: end_play
  when: uncommitted_choice.user_input|lower != 'y'
- name: Check for unpushed changes
  shell: '[ "$(git rev-parse @)" != "$(git rev-parse @{u})" ]'
  register: unpushed
  failed_when: unpushed.stderr != ""
  delegate_to: localhost
- name: Prompt if should continue
  pause:
    prompt: |
      Remote branch may not have latest set of commits.
      Continue?
  register: unpushed_choice
- name: Determine if should leave early
  block:
    - name: Set skip.
      set_fact:
        skip_to_exit: true
    - name: Exiting
      meta: end_play
  when: unpushed_choice.user_input|lower != 'y'
- name: Ensure skip_to_exit has value
  set_fact:
    skip_to_exit: false
  when: skip_to_exit|default(omit) == omit
