---
# tasks file for nginx-setup
- name: Install nginx
  package: 
    name: '{{packages["nginx"]}}'
  become: true
- name: Remove default config
  become: true
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
- name: Copy evil config
  become: true
  copy:
    src: templates/nginx_evil.conf
    dest: /etc/nginx/sites-enabled//nginx_evil.conf
- name: Taks for a local server
  include_tasks: local.yml
  vars:
    cert_prefix: '{{app_details["name"]|to_snake()}}_localhost_{{env_name}}'
    conf_name: '{{app_details["name"]|to_snake()}}_{{env_name}}'
  when: ansible_host in ["127.0.0.1", "localhost"]

- name: VM setup
  include_tasks: vm.yml
  vars:
    cert_prefix: '{{app_details["name"]|to_snake()}}'
    conf_name: '{{app_details["name"]|to_snake()}}'
  when: ansible_host not in ["127.0.0.1", "localhost"] and "192.168.0.0/16"|ansible.utils.network_in_usable(ansible_host)

- name: Remote setup
  include_tasks: remote.yml
  vars:
    cert_prefix: '{{app_details["name"]|to_snake()}}'
    conf_name: '{{app_details["name"]|to_snake()}}'
  when: ansible_host not in ["127.0.0.1", "localhost"] and not "192.168.0.0/16"|ansible.utils.network_in_usable(ansible_host)


