---
- name: Assign cert file paths to vars
  set_fact:
    cert_files:
      public: '/etc/ssl/certs/{{cert_prefix}}.public.key.pem'
      private: '/etc/ssl/private/{{cert_prefix}}.private.key.pem'
- name: https certs are still valid
  script: > 
    installed_certs.py check 
    '{{url_segments["base"]}}.{{url_segments["tld"]}}'
    '{{cert_files["public"]}}', 
    '{{cert_files["private"]}}'
  args:
    executable: python3
  environment:
    DSF_OPENSSL_DEFAULT_CONFIG: '{{dev_files["openssl_default_config"]}}'
    DSF_SSH_DIR: '{{ssh_dir}}'
    DSF_APP_NAME: '{{app_details["name"]}}'
  register: valid_certs
  changed_when: valid_certs.stdout != ""
- debug:
    msg: 'valid certs: {{valid_certs}}'
- name: Download updated certificates
  uri:
    url: 'https://api.porkbun.com/api/json/v3/ssl/retrieve/{{url_segments["base"]}}.{{url_segments["tld"]}}'
    body_format: json
    method: POST
    body:
      secretapikey: '{{keys["pb_secret"]}}'
      apikey: '{{keys["pb_api_key"]}}'
  register: fetched

- name: Replace public key
  become: true
  copy:
    dest: '{{cert_files["public"]}}'
    content: '{{fetched.json["certificatechain"].rstrip("\n")}}'
  notify: Restart nginx
- name: Replace private key
  become: true
  copy:
    dest: '{{cert_files["private"]}}'
    content: '{{fetched.json["privatekey"].rstrip("\n")}}'
  notify: Restart nginx
- name: Replace web config
  become: true
  template: 
    src: nginx_template.j2
    dest: '/etc/nginx/sites-enabled/{{conf_name}}.conf'
  vars:
    listen: '[::]:443 ssl ipv6only=off'
  notify: Restart nginx