body {
	font-family: monospace;
}

.story {
	border-radius: 1em;
	background-color: dodgerblue;
	padding: 2em;
	max-width: 60em;
}

.sad.story {
	background-color: coral;
}

.story .example {
	background-color: white;
}